@page "/user"
@using Full.Client.Service
@using Full.Shared
@using Full.Client.Service;
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject ApiServices ApiServices
@inject LocalStorageService LocalStorageService


    <style>
     

 

        .auth-registration {
            padding: 10px 34px;
            color: #fff;
            background-color: #35A4D9;
            border-radius: 6px;
        }

        .section__study {
            background-image: url(https://t3.ftcdn.net/jpg/01/87/88/48/360_F_187884841_3CWTrFVgfxjLEeQYtYkLD8w1jRvM8zF1.webp);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .study {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 60px;
        }

        .section__study-title {
            color: #fff;
            font-size: 52px;
            text-align: center;
            padding-top: 140px;
        }

        .section__study-descr {
            color: #CBCBCB;
            font-size: 22px;
            text-align: center;
        }

        .section__study-btn {
            padding: 22px 100px;
            color: #fff;
            background-color: #35A4D9;
            border-radius: 10px;
            margin-top: 60px;
            margin-bottom: 180px;
        }


        /* ////////////////////////// */


        .section__course {
            margin-top: 108px;
            margin-bottom: 150px;
        }

        .course__title {
            color: #000;
            font-size: 42px;
            text-align: center;
            margin-bottom: 72px;
        }

        .row {
            display: flex;
            gap: 30px;
            justify-content: center;
        }

        .col-4 {
            width: 380px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
            padding: 0;
            cursor: pointer;
        }

            .col-4 img {
                width: 380px;
            }

            .col-4 h6 {
                color: #000;
                font-size: 24px;
                padding-left: 30px;
                margin: 0;
            }

            .col-4 p {
                padding-left: 30px;
                color: #000;
                font-size: 14px;
                padding-bottom: 25px;
            }

    

        h1 {
            margin: 0;
        }

        p {
            margin: 0;
        }


        .social__logo {
            display: flex;
            gap: 20px;
            padding-top: 30px;
        }

        .footer__item a {
            cursor: pointer;
        }

        .social__logo {
            cursor: pointer;
        }

        .header__a--active {
            color: #113BA1;
        }

    </style>


<section class="section__study">
    <div class="container study">
        <h1 class="section__study-title">Хотите научиться профессионально инвестировать и всегда оставаться в плюсе?</h1>
        <p class="section__study-descr">Грамотно разберем вашу финансовую ситуацию, разработаем стратегию и поможем эффективно инвестировать</p>
        <a href="/allcourses0" class="section__study-btn">Записаться на курс</a>
    </div>
</section>

<section class="section__course">
    <div class="container-s">
        <h1 class="course__title">Мои курсы</h1>
        <div class="row">
            @if (userCourses.Count <= 0)
            {
                <h1>No courses...</h1>
            }
            else
            {
                @foreach (var course in userCourses)
                {
                    <div class="col-4">
                        <img src="@course.ImageUrl" alt="@course.Title">
                        <h6>@course.Title</h6>
                        <p>@course.Description</p>
                    </div>
                }
            }
        </div>
    </div>
</section>

<section class="section__course">
    <div class="container-s">
        <h1 class="course__title">Все курсы</h1>
        <div class="row">
            @if (courses.Count <= 0)
            {
                <h1>No courses...</h1>
            }
            else
            {
                @foreach (var course in courses.Take(6))
                {
                    <div class="col-4">
                        <img src="@course.ImageUrl" alt="@course.Title">
                        <h6>@course.Title</h6>
                        <p>@course.Description</p>
                    </div>
                }
            }
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
    function clearLocalStorage() {
        localStorage.clear();
    }
</script>
@code {
    List<Course> userCourses = new List<Course>();
    List<Course> courses = new List<Course>();
    private string UserEmail = String.Empty;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        var email = await LocalStorageService.GetEmailFromLocalStorage();
        UserEmail = email;
        if (string.IsNullOrEmpty(UserEmail))
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            var userCourseResult = await ApiServices.GetUserCourses(UserEmail);

            if (userCourseResult != null)
            {
                userCourses = userCourseResult;
            }
            var result = await ApiServices.GetCourseList();
            if (result != null)
            {
                courses = result;
            }
        }
    }

    void ToMain()
    {
        NavigationManager.NavigateTo("/user");
    }
}
